<!--pass the active item as a parameter to the partial -->
<!--in each view, include this partial - with the appropriate parameter: -->
<!-- hbs files, the double curly bracket syntax is www.handlebarsjs.com -->

<nav class="ui teal inverted secondary menu">
  <header class="header item"><a href="/"> ADMINISTRATOR </a></header>
  <div class="right menu">
      <a id="settings" class= "item" href="/adminHome"> Home </a>
    <a id="settings" class= "item" href="/adminUsers"> Users</a>
    <!-- <a id="settings" class= "item" href="/findOtherUser/{userId}"> User Timeline</a> -->
    <a id="logout" class= "item" href="/logout"> Logout</a>
  </div>
</nav>

<!--  JQuery script to set the 'active' class for the menu item with the id _id
ie. to highlight the active tab-->
<script>
  $("#{{_id}}").addClass("active item");
</script>