<!--a reusable partial can be included explicitly in many views -->
<!--For Admin: users tab to add, update and delete users -->

  <div class="ui grid">
 <!-- <div class="ui form eleven wide column"> -->
    <!--<div class="ui stacked fluid form segment"> -->

  <div class="ui sixteen wide column fluid form">
    <div class="ui stacked segment">
      <form action="/userSave/{{user._id}}" method="POST">
        <h3 class="ui header">User Profile</h3>
        <div class="three fields">

          <div class="field">
            <div class="ui labeled input">
              <div class="ui label">First Name</div>
              <input value="{{user.firstName}}" type="text" name="firstName">
            </div>
          </div>
          <div class="field">
            <div class="ui labeled input">
              <div class="ui label">Last Name</div>
              <input value="{{user.lastName}}" type="text" name="lastName">
            </div>
          </div>
          <div class="field">
            <div class="ui labeled input">
              <div class="ui label">Email</div>
              <input value="{{user.email}}" type="text" name="email">
            </div>
          </div>

              <button class="ui teal submit button">Save</button>
              {{#if canDelete}}
                <button class="ui red button"><a href="/userDelete/{{user._id}}">Delete</a></button>
              {{/if}}
            </div>
      </form>
      {{> formerror }}
    </div>
  </div>
  <!--</div> -->
</div>
