<!--a reusable partial can be included explicitly in many views -->

<section class="ui raised segment">
  <div class="ui grid ">
    <div class="ui form sixteen wide column">

      <!--<h5>Hi ${loggedInUser.firstName} ${loggedInUser.lastName}</h5> -->
      <h5>Tweet your thoughts now!</h5>
      <h6>Remember: Max 140 characters !</h6>
      <div class="ui stacked segment">
        <!-- multipart/form-data when a form includes any <input type="file"> elements: for pictures-->
        <form class="ui form" action="/blog" enctype="multipart/form-data" method="POST">

          <div class="ui field">
            <input id="content" type="text" textarea placeholder="Your tweet" name="content" maxlength="140">
          </div>

          <div class="ui divider"></div>

          <div class="ui field">
            <input id="content" type="file" name="picture"><!-- textarea placeholder="Add file" -->
          </div>

      <button class="ui right aligned teal labeled icon button"><i class="twitter icon"></i>Tweet</button>
        </form>
      </div>
    </div>


  </div>
</section>