<!--pass the active item as a parameter to the partial -->
<!--in each view, include this partial - with the appropriate parameter: -->
<!-- hbs files, the double curly bracket syntax is www.handlebarsjs.com -->

<nav class="ui teal inverted menu">
  <header class="header item"><a href="/"> MICROBLOG</a></header>
  <div class="right menu">
    <a id="home"   class= "item" href="/home"> Tweet</a>
    <a id="report" class= "item" href="/userTimeline"> User Timeline</a>
    <a id="report" class= "item" href="/globalTimeline"> Global Timeline</a>
    <a id="settings" class= "item" href="/settings"> Settings</a>
    <a id="logout" class= "item" href="/logout"> Logout</a>
  </div>
</nav>

<!--  JQuery script to set the 'active' class for the menu item with the id _id
ie. to highlight the active tab-->
<script>
  $("#{{_id}}").addClass("active item");
</script>