<section class="ui raised segment">


    <div class="ui six wide column">
      <h3>Tweet Statistics</h3>
      <div class="field">
        <span>Number of tweets: {{stats.count}}</span> <<!-- model declared in admin controller.home -->
      </div>
      <div class="field">
        <span>Tweets in last hour: {{stats.countHour}}</span>
      </div>
    </div>


</section>