<!--a reusable partial can be included explicitly in many views -->

<nav class="ui inverted teal menu">
  <header class="header item"> <a href="/"> MicroBlog</a> </header>
  <div class="right menu">
    <a class="item" href="/admin"> Admin</a>
    <a class="item" href="/signup"> Signup</a>
    <a class="item" href="/login">  Login</a>
  </div>
</nav>