<!DOCTYPE html>

<!-- hbs files, the double curly bracket syntax is www.handlebarsjs.com -->
<!-- templating engine: Handlebars in Hapi -->
<!-- Handle bars expressions, helpers, partials -->
<html>
<head>
  <title>{{title}}</title> <!-- handlebars expressions retrieve information from the ‘context’: the title at each handler -->
  <meta charset="UTF-8">
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/semantic.min.js"></script>
  <link rel="stylesheet" media="screen" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.css">
  <!--<link rel="stylesheet" media="screen" href="css/semantic.min.css"> -->
  <link rel="stylesheet" media="screen" href="css/main.css">
  <link rel="shortcut icon" type="image/png" href="images/favicon.png">
</head>

<body>
<section class="ui container">
  <!--Handlebars HTML-escapes values returned by a double-stash expression -->
  <!--If you don't want Handlebars to escape a value, use the "triple-stash" -->
  {{{content}}}
</section>

<!--to support dropdown controls -->
<script>
  $(document).ready(function () {
    $('.ui.dropdown').dropdown({ on: 'hover' });
  });
</script>

</body>
</html>