{{> mainmenu _id="globalTimeline"}} <!--uses partial, id = the active tab -->

<section class="ui raised segment">
  <div class="ui grid ">

    <div class="ui five wide column">

      <aside class="ui five wide column">
        <img src="images/male gossip.jpg" class="ui medium image">
      </aside>

    </div>

    <div class="ui ten wide column">
      {{> tweetlist }}
    </div>

  </div>
</section>
