{{> mainmenu _id="home" }} <!--partial, id = the active tab -->

<section class="ui raised segment">

  <div class="ui grid ">
    <div class="ui twelve wide column">

  {{> blog }} <!--uses partial -->

      </div>
  <aside class="ui four wide column">
    <img src="images/gossip.jpg" class="ui medium image">
  </aside>
  </div>
</section>