{{> welcomemenu }} <!--uses partial -->

  <section class="ui stacked segment">
    <div class="ui grid">

      <aside class="six wide column">
        <img src="images/chatter.jpg" class="ui medium image">
      </aside>

      <article class="ten wide column">
        <header class="ui  header"> MicroBlog</header>
        <p> Tweet your thoughts right now! </p>
      </article>

    </div>
  </section>
