  {{> adminMenu _id="/adminUsers" }}<!--uses partial, id = the active tab -->

<section class="ui raised segment">
  <div class="ui grid ">

    <div class="ui five wide column">
      <!--userStats partial to be completed-->


      <aside class="ui five wide column">
        <img src="/images/chatter.jpg" class="ui medium image">
      </aside>
    </div>

    <div class="ui ten wide column">
      {{> otherTweetlist }}
    </div>

  </div>
</section>
