{{> mainmenu _id="settings" }} <!--uses partial, id = the active tab -->

<section class="ui raised segment">
  <div class="ui grid">
    <div class="ui ten wide column">
      <div class="ui stacked fluid form segment">

        <form action="/settings" method="POST">
          <h3 class="ui header">Edit Account Settings</h3>
          <div class="two fields">
            <div class="field">
              <div class="ui labeled input">
                <div class="ui label">First Name</div>
              <input value="{{user.firstName}}" type="text" name="firstName">
              </div>
            </div>
            <div class="field">
              <div class="ui labeled input">
                <div class="ui label">Last Name</div>
              <input value="{{user.lastName}}" type="text" name="lastName">
              </div>
            </div>
          </div>
          <div class="field">
            <div class="ui labeled input">
              <div class="ui label"> Email</div>
            <input value="{{user.email}}" type="text" name="email">
            </div>
          </div>
            <div class="field">
              <div class="ui labeled input">
                <div class="ui label"> Password</div>
            <input value="{{user.password}}" type="password" name="password">
              </div>
            </div>
          <button class="ui fluid teal submit button">Save</button>
        </form>
        {{> formerror }}
      </div>
    </div>
    <aside class="ui five wide column">
      <img src="images/gossip.jpg" class="ui medium image">
    </aside>
  </div>
</section>

