{{> welcomemenu }} <!--uses partial -->

<section class="ui raised segment">
  <div class="ui grid">
    <div class="ui ten wide column">
      <div class="ui stacked fluid form segment">
        <form action="/register" method="POST">
          <h3 class="ui header">Register</h3>

          <div class="two fields">
            <div class="field">
              <div class="ui labeled input">
                <div class="ui label">First Name</div>
                <input placeholder="First Name" type="text" name="firstName">
              </div>
            </div>
            <div class="field">
              <div class="ui labeled input">
                <div class="ui label">Last Name</div>
                <input placeholder="Last Name" type="text" name="lastName">
              </div>
            </div>
          </div>

            <div class="field">
              <div class="ui labeled input">
                <div class="ui label"> Email</div>
                <input placeholder="Email" type="text" name="email"></div>
            </div>
            <div class="field">
              <div class="ui labeled input">
                <div class="ui label"> Password</div>
                <input placeholder="Password" type="password" name="password">
              </div>
            </div>
            <button class="ui fluid teal submit button">Login</button>
        </form>
        {{> formerror }}
      </div>
    </div>
    <aside class="ui five wide column">
      <img src="images/whisper.png" class="ui medium image">
    </aside>
  </div>
</section>
