{{> mainmenu _id="userTimeline"}} <!--uses partial, id = the active tab -->

<section class="ui raised segment">
  <div class="ui grid ">

    <div class="ui five wide column">

      {{> stats }} <!--uses partial; partial call syntax -->

      <aside class="ui five wide column">
        <img src="images/chatter.jpg" class="ui medium image">
      </aside>
    </div>

    <div class="ui ten wide column">
      {{> tweetlist }}
    </div>

  </div>
</section>
